/*初始代码*/
p,
a,
i,
li,
ul,
em,
input,
img,
span,
body,
div,
strong,
h1,
h2,
h3,
del {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #999;
}
input {
    border: 0 none;
    outline: 0 none;
}
img {
    border: 0 none;
    vertical-align: middle;
}
li {
    list-style: none;
}
i {
    font-style: normal;
}
h1,
h2,
h3 {
    font-weight: normal;
}

.w {
    width: 1200px;
    margin: 0 auto;
}
.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}
.clearfix {
    *zoom: 1;
}
/* 初始化代码结束 */
/*中间部分*/
.page-top{

    height: 348px;
    position: relative;
}
.top-box{
    width: 1349px;
    height: 348px;
    position: relative;
}
.log  {
    height: 40px;
    background-color: #ffffff;
}

.head {
    height: 40px;

}

.game {
    height: 30px;
    width: 105px;
    margin-left:80px;
    background: url('../image/game-logo.png') no-repeat ;
    background-size:contain;
    float: left;
    margin-top: 2px;
}

.game a{
    width: 100%;
    height: 100%;
    display: block;
}

.line {
    width: 2px;
    height: 18px;
    background-color: #ccc;
    float: left;
    margin: 10px 15px 0px 10px;

}

.game2 {
    width: 230px;
    height: 40px;
    background:url("../image/7257.jpg");
    float: left;
}
.game2 a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.game2 a:hover{
    width: 970px;
    height: 185px;
    z-index: 5;
    margin: 0px -225px;
    background:url("../image/46440.jpg");
}

.one {
    width: 100px;
    height: 40px;
    background: url("../image/logo.png") no-repeat;
    float: right;
    margin-top: 10px;


}
.one a {
    width: 100%;
    height: 100%;
    display: block;
    padding-left: 20px;
    line-height: 20px;
}
.one a:hover,
.two a:hover{
    color: red;;
}

.two {
    width: 100px;
    height: 40px;
    float: right;
    margin-right: 80px;
}
.two a{
    display: block;
    line-height: 40px;
}

/*.two a:hover{*/
/**/
/*}*/

.sxbg{
    background:url("../image/info-kv.jpg")no-repeat;
    position: absolute;
    top: 40px;
    height: 300px;
    width: 100%;
}
.top-nav {
    height: 110px;
    width: 100%;
}
.top-nav-bg{
    background:url('../image/bg-nav.png')no-repeat;
    height: 110px;
}
.top-title{
    width: 362px;
    height: 135px;
}

.top-title a {
    width: 125px;
    height: 125px;
    padding-top: 10px;
    display: inline-block;
    float: left;
}

.top-title h1{
    font-size: 24px;
    color: #ffb400;
    display: block;
    line-height: 36px;
    font-weight: bold;
    float: left;
    margin-top: 27px;
    margin-left: 10px;
}

.top-title h1 span {
    font-size: 14px;
    color: #ffffff;
    display: block;

}

.navnav li{
    float: left;
}

.navnav a {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    width: 115px;
    height: 110px;
    float: left;
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
}

.navnav li a:hover{
    color: #ffb400;
}
.navnav a span:hover{
    color:#ffb400
}

.navnav a span {
    font-size: 10px;
    color: #515151;
    font-weight: 600;
    display: block;
    margin-top: 10px;
}

.subnav>ul>li{
    float: left;
    margin-right: 10px;
    position: relative;
}


.zl{
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    width: 115px;
    height: 110px;
    display: inline-block;
    vertical-align: top;
    cursor: default;
}
.subnav {
    box-sizing: border-box;
    padding: 20px 5px 10px 5px;
    text-align: center;
    background: #000;
    margin-top: 22px;
    display: none;
    width: 80px;
}
.spcenter{
    width: 1200px;
    height: 99px;
    position: absolute;
    top: 185px;
    left: 151px;
}
.spcenter .tit{
    width: 167px;
    height: 62px;
    background: url("../image/video-tit.png") no-repeat;
    margin-top: 17px;
}
.spcenter .local{
    padding-top: 17px;
    color: #b8b8b8;
    font-size: 16px;
    line-height: 20px;
}
.spcenter .local a{
    padding-top: 17px;
    color: #b8b8b8;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;
}
.main{
    position: relative;
}
.main .center{
    height: 701px;
}
.main .center .tab ul{
    position: absolute;
    /*width: 880px;*/

}
.main .center .tab li{
    /*font-size: 20px;*/
    float: left;
    margin-right: 68px;
    height: 20px;
}
/*.main .center .tab:nth-child(1) li{*/
    /*margin-left: 9px;*/
/*}*/
.news-list{
    height:36px ;
    margin: 50px 0px 18px 80px;
    border-bottom: 1px solid #b2b1b1;
}
.news-list ul{
    width: 1000px;
}
.main .center .tab li a:hover{
    font-weight: bold;
    color: #e8a026;
}
.main .center .tab li a{
    height: 27px;
    width: 50px;
    display: block;
    transition: 100ms;
    text-align: center;
    color: black;
    padding-top: 4px;
    padding-bottom: 3px;
}
.main .center .tab li a.on {
    color: #e8a026;
    border-bottom: 3px solid #e8a026;
    font-weight: bold;
}

.video1{
    padding: 0 0 0 80px;
    overflow: hidden;
    width: 1120px;
    height: 596px;
}
.video1 ul{
    min-height: 500px;
}
.video1 ul li{
    position: relative;
    float: left;
    margin: 0 26px 50px 0;
    width: 192px;
    height: 160px;
}
.video1 ul li a{
    width: 192px;
    height: 118px;
    display:block;
    color: #000;
}
.video1 ul li a img{
    width: 192px;
    height: 118px;
    background-color:black;
}
.video1 ul li p{
    height: 38px;
    overflow: hidden;
    width: 192px;
    padding-top: 4px;
    line-height: 21px;
    font-size: 14px;
}
.video1 ul li p:hover{
    color: #e8a626;
}
.video1 ul li a i.ico-play{
    background: url("../image/sp.png") no-repeat;
    position: absolute;
    top: 33px;
    left: 70px;
    width: 57px;
    height: 57px;
    background-position: -319px -108px;
}
.video2{
    padding: 0 0 0 80px;
    overflow: hidden;
    width: 1120px;
    height: 596px;
}
.video2 ul{
    min-height: 500px;
}
.video2 ul li{
    position: relative;
    float: left;
    margin: 0 26px 50px 0;
    width: 192px;
    height: 160px;
}
.video2 ul li a{
    width: 192px;
    height: 118px;
    display:block;
    color: #000;
}
.video2 ul li a img{
    width: 192px;
    height: 118px;
    background-color:black;
}
.video2 ul li p{
    height: 38px;
    overflow: hidden;
    width: 192px;
    padding-top: 4px;
    line-height: 21px;
    font-size: 14px;
}
.video2 ul li p:hover{
    color: #e8a626;
}
.video2 ul li a i.ico-play{
    background: url("../image/sp.png") no-repeat;
    position: absolute;
    top: 33px;
    left: 70px;
    width: 57px;
    height: 57px;
    background-position: -319px -108px;
}
.video3{
    padding: 0 0 0 80px;
    overflow: hidden;
    width: 1120px;
    height: 596px;
}
.video3 ul{
    min-height: 500px;
}
.video3 ul li{
    position: relative;
    float: left;
    margin: 0 26px 50px 0;
    width: 192px;
    height: 160px;
}
.video3 ul li a{
    width: 192px;
    height: 118px;
    display:block;
    color: #000;
}
.video3 ul li a img{
    width: 192px;
    height: 118px;
    background-color:black;
}
.video3 ul li p{
    height: 38px;
    overflow: hidden;
    width: 192px;
    padding-top: 4px;
    line-height: 21px;
    font-size: 14px;
}
.video3 ul li p:hover{
    color: #e8a626;
}
.video3 ul li a i.ico-play{
    background: url("../image/sp.png") no-repeat;
    position: absolute;
    top: 33px;
    left: 70px;
    width: 57px;
    height: 57px;
    background-position: -319px -108px;
}
.video4{
    padding: 0 0 0 80px;
    overflow: hidden;
    width: 1120px;
    height: 596px;
}
.video4 ul{
    min-height: 500px;
}
.video4 ul li{
    position: relative;
    float: left;
    margin: 0 26px 50px 0;
    width: 192px;
    height: 160px;
}
.video4 ul li a{
    width: 192px;
    height: 118px;
    display:block;
    color: #000;
}
.video4 ul li a img{
    width: 192px;
    height: 118px;
    background-color:black;
}
.video4 ul li p{
    height: 38px;
    overflow: hidden;
    width: 192px;
    padding-top: 4px;
    line-height: 21px;
    font-size: 14px;
}
.video4 ul li p:hover{
    color: #e8a626;
}
.video4 ul li a i.ico-play{
    background: url("../image/sp.png") no-repeat;
    position: absolute;
    top: 33px;
    left: 70px;
    width: 57px;
    height: 57px;
    background-position: -319px -108px;
}
.video5{
    padding: 0 0 0 80px;
    overflow: hidden;
    width: 1120px;
    height: 596px;
}
.video5 ul{
    min-height: 500px;
}
.video5 ul li{
    position: relative;
    float: left;
    margin: 0 26px 50px 0;
    width: 192px;
    height: 160px;
}
.video5 ul li a{
    width: 192px;
    height: 118px;
    display:block;
    color: #000;
}
.video5 ul li a img{
    width: 192px;
    height: 118px;
    background-color:black;
}
.video5 ul li p{
    height: 38px;
    overflow: hidden;
    width: 192px;
    padding-top: 4px;
    line-height: 21px;
    font-size: 14px;
}
.video5 ul li p:hover{
    color: #e8a626;
}
.video5 ul li a i.ico-play{
    background: url("../image/sp.png") no-repeat;
    position: absolute;
    top: 33px;
    left: 70px;
    width: 57px;
    height: 57px;
    background-position: -319px -108px;
}
.video6{
    padding: 0 0 0 80px;
    overflow: hidden;
    width: 1120px;
    height: 596px;
}
.video6 ul{
    min-height: 500px;
}
.video6 ul li{
    position: relative;
    float: left;
    margin: 0 26px 50px 0;
    width: 192px;
    height: 160px;
}
.video6 ul li a{
    width: 192px;
    height: 118px;
    display:block;
    color: #000;
}
.video6 ul li a img{
    width: 192px;
    height: 118px;
    background-color:black;
}
.video6 ul li p{
    height: 38px;
    overflow: hidden;
    width: 192px;
    padding-top: 4px;
    line-height: 21px;
    font-size: 14px;
}
.video6 ul li p:hover{
    color: #e8a626;
}
.video6 ul li a i.ico-play{
    background: url("../image/sp.png") no-repeat;
    position: absolute;
    top: 33px;
    left: 70px;
    width: 57px;
    height: 57px;
    background-position: -319px -108px;
}
.video7{
    padding: 0 0 0 80px;
    overflow: hidden;
    width: 1120px;
    height: 596px;
}
.video7 ul{
    min-height: 500px;
}
.video7 ul li{
    position: relative;
    float: left;
    margin: 0 26px 50px 0;
    width: 192px;
    height: 160px;
}
.video7 ul li a{
    width: 192px;
    height: 118px;
    display:block;
    color: #000;
}
.video7 ul li a img{
    width: 192px;
    height: 118px;
    background-color:black;
}
.video7 ul li p{
    height: 38px;
    overflow: hidden;
    width: 192px;
    padding-top: 4px;
    line-height: 21px;
    font-size: 14px;
}
.video7 ul li p:hover{
    color: #e8a626;
}
.video7 ul li a i.ico-play{
    background: url("../image/sp.png") no-repeat;
    position: absolute;
    top: 33px;
    left: 70px;
    width: 57px;
    height: 57px;
    background-position: -319px -108px;
}
.video2{
    display: none;
}
.video3{
    display: none;
}
.video4{
     display: none;
 }
.video5{
      display: none;
}
.video6{
    display: none;
}
.video7{
    display: none;
}
.foot-botton {
    background-color: #000;
    position: relative;
}
.foot-title {
    width: 1200px;
    height: 144px;
}
.foot-title a {
    display: inline-block;
}
.foot-logs {
    width: 170px;
    height: 35px;
    background:url("../image/foot-logo1.png")no-repeat ;
    background-size: contain;
    margin:54px 0 0 10px;
    float: left;

}
.foot-title img {
    float: left;
    margin-left: 30px;

    width: 127px;
    height: 47px;
    margin-top: 51px;
}
.foot-links {
    display: inline;
    float: right;
    width: 769px;
    margin-top: 9px;
}
.foot-links {
    color: #fff;
    font-size: 12px;
}
ol, ul {
    list-style: none;
}
li {
    list-style: none;
    margin-bottom: 10px;;
}
a {
    text-decoration: none;
    overflow: hidden;
    color: #000;
    margin-right: 5px;
}
.foot-links a {
    color: #fff;
}

.foot-links a:hover{
    color: #ffb400;
}
.ost_box {
    width: 100%;
    background-color: #fff;
    color: #464646;
    left: 0;
    top: 0!important;
    font-size: 12px;
    z-index: 8000;
    border: 1px solid #c9c9c9;
}

.ost_bg {
    background: url('../image/ost-bg.png') no-repeat;
}
.ost_bn, .ost_box {
    min-width: 980px;
    text-align: left;
}

.ost_inner {
    width: 980px;
    padding: 0 5px;
    margin: 0 auto;
    position: relative;
    line-height: 40px;
}
.ost_lsn {
    list-style: none;
    padding: 0;
}
.ost_logo {
    width: 205px;
    padding: 0 15px 0 0;
    background-position: 0 -40px;
    position: relative;
    z-index: 10001;
}
.ost_h40 {
    height: 40px;
}
.ost_fl {
    float: left;
}
.ost_big, .ost_bni, .ost_h40, .ost_hdn, .ost_ico, .ost_msgnum, .ost_pin {
    overflow: hidden;
}
.ost_blnk {
    display: block;
    height: 100%;
}
.ost_hdn {
    text-indent: -500px;
}
.ost_ad {
    width: 230px;
}
.ost_nb {
    border: 0;
}
.ost_total {
    width: 220px;
    background-position: -143px -120px;
}
.ost_ml10 {
    margin-left: 10px;
}
.ost_fr {
    float: right;
}
.ost_czsh {
    float: left;
    width: 118px;
    background: url('../image/logo.png') 0 12px no-repeat;
    text-indent: 20px;
}
.ost_czsh, .ost_title {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    line-height: 40px;
    cursor: pointer;
}
.ost_czsh a {
    color: #464646;
}
.ost_title {
    text-indent: 0!important;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
div {
    display: block;
}
.ost_icon_arrow {
    width: 11px;
    height: 11px;
    background-position: -150px -134px;
    margin-left: 5px;
}
.ost_icon_arrow, .ost_icon_reddot {
    display: inline-block;
    vertical-align: middle;
    font-size: .1em;
}
.ost_icon_reddot {
    width: 7px;
    height: 7px;
    background-position: -190px -134px;
    margin-left: -3px;
    margin-top: -8px;
}
.ost_pop {
    width: 700px;
    height: 386px;
    top: 32px;
    right: 7px;
    position: absolute;
    display: none;
    z-index: 9000;
}
.top-nav {
    width: 100%;
    min-width: 1200px;
    height: 110px;
    background: url('../image/bg-nav.png') no-repeat;
    position: absolute;
    top: 42px;
    z-index: 9;
}
.container {
    width: 1200px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}
.top-title {
    float: left;
}
.top-title .tag {
    margin-right: 12px;
    z-index: 9;
    float: left;
}
.top-title h1 {
    font-size: 24px;
    color: #ffb400;
    line-height: 36px;
    font-weight: bold;
    float: left;
    margin-top: 27px;
}
.top-title h1 span {
    font-size: 14px;
    color: #ffffff;
    display: block;
}
.navnav {
    margin-top: 34px;
}
.navnav a {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    width: 115px;
    height: 155px;
    display: inline-block;
    vertical-align: top;
}
a {
    text-decoration: none;
    overflow: hidden;
    color: #000;
}
.navnav a span {
    font-size: 10px;
    color: #515151;
    font-weight: 600;
    display: block;
}
.nav_yx {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    width: 115px;
    height: 110px;
    display: inline-block;
    vertical-align: top;
    cursor: default;
}
.navnav .nav_yx span {
    font-size: 10px;
    color: #515151;
    font-weight: 600;
    display: block;
}
.subnav {
    box-sizing: border-box;
    padding: 20px 5px 10px 5px;
    text-align: center;
    background: #000;
    margin-top: 22px;
    display: none;
    width: 80px;
}
.subnav li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.navnav .nav_yx .subnav a {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    width: auto;
    height: auto;
}
.ost_big {
    padding: 0 3px 3px;
    border-bottom: 1px solid #eee;
    background: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -488px;
    display: none;
}
a:hover{
    color: red;
}
h3:hover{
    color: red;
}
.tips-player ul {
    float: right;
    padding: 10px 5px;
    background: #000;
}
.tips-player li {
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}
.tips-player .on {
    color: #ffb400;
}
.tips-img1, .tips-img2, .tips-img3, .tips-img4 {
    padding: 6px;
    right:110px;
    position: absolute;
    background: #fff;
    line-height: 0;
    display: none;
    width: 132px;
}
img {
    border: 0;
}

.tips-player img {
    width: 100%;
}
.ost_rank {
    width: 698px;
    height: 456px;
    font-size: 12px;
    line-height: 1.5;
    font-family: "\5b8b\4f53", sans-serif;
    color: #999;
    border: 1px solid #ccc;
    background: #fff;
    display: none;
}
.ost_rank:before, .ost_rank .before,
.ost_rank:after, .ost_rank .after {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    content: "";
    border-top: 0 none;
    _border-top-color: #dddddd;
    _border-bottom-color: #dddddd;
    /*_filter: chroma(color=#dddddd);*/
}

.ost_rank:before, .ost_rank .before {
    border-bottom: 7px solid #CCC;
    border-left: 7px dashed transparent;
    border-right: 7px dashed transparent;
    right: 1px;
    top: -7px
}

.ost_rank:after, .ost_rank .after {
    border-bottom: 6px solid #ffffff;
    border-left: 6px dashed transparent;
    border-right: 6px dashed transparent;
    right: 2px;
    top: -6px
}

.ost_rank a {
    color: #707e91;
    text-decoration: none;
}

.ost_rank a:hover {
    color: #ff4e00;
    text-decoration: underline;
}

.ost_rank .icon-font {
    /*font-family: arial;*/
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
}

/* ==== rank col ==== */
.ost_rank_col {
    float: left;
    width: 212px;
    height: 422px;
    padding: 0 10px;
    margin: 17px 0 8px;
    border-left: 1px solid #e2e2e2;
    margin-left: -1px;
}

.ost_rank_col .col-head,
.ost_rank_col .col-head2 {
    float: left;
    width: 207px;
    padding-right: 5px;
    padding-bottom: 2px;
    height: 18px;
}

.ost_rank_col .col-head {
    border-bottom: 1px solid #e5e5e5;
}

.ost_rank_col .col-body {
    float: left;
}

.ost_rank_col .rank-title {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #555;
}

.ost_rank_col .rank-more {
    float: right;
}

/* rank list */
.ost_rank_col .rank-list {
    float: left;
    list-style: none;
    padding: 9px 0 0;
    margin: 0;
}

.ost_rank_col .rank-item, .ost_rank_col .rank-head {
    float: left;
    width: 212px;
    overflow: visible;
    padding: 0;
}

.ost_rank_col .rank-head {
    height: 27px;
}

.ost_rank_col .current .rank-game-cover {
    display: block;
}

.ost_rank_col .current .ctip-text {
    display: none;
}

.ost_rank_col .current .rank-order-color, .ost_rank_col .current .rank-order-gray {
    position: relative;
    z-index: 10;
    margin-bottom: -14px;
}

.ost_rank_col .rank-order-hd {
    float: left;
    width: 33px;
}

.ost_rank_col .rank-name-hd {
    float: left;
    width: 170px;
}

.ost_rank_col .rank-game-data {
    height: 18px;
    overflow: hidden;
}

.ost_rank_col .rank-order-color,
.ost_rank_col .rank-order-gray {
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px 15px 0 4px;
    line-height: 12px;
    text-align: center;
}

.ost_rank_col .rank-order-gray {
    border: 1px solid #999;
    background: #fff;
}

.ost_rank_col .rank-order-color {
    color: #fff;
    border: 1px solid #ff4e00;
    background: #ff4e00;
}

.ost_rank_col .rank-name-game {
    display: inline;
    float: left;
    padding-bottom: 9px;
    _padding-bottom: 7px;
}

/* ==== rank tip ==== */
.icon-home,
.icon-download,
.icon-home2,
.icon-ios,
.icon-android {
    display: inline-block;
    font-size: 0.1em;
    margin: 0 5px;
    vertical-align: top;
    background: url(//ossweb-img.qq.com/images/js/topfiles/ost1410/images/ost_rank_sp.png) no-repeat;
}

.icon-home,
.icon-download {
    width: 13px;
    height: 13px;
}

.icon-home {
    background-position: 0 0;
}

.game-link:hover .icon-home {
    background-position: 0 -17px;
}

.icon-download {
    background-position: -14px 0;
}

.game-link:hover .icon-download {
    background-position: -14px -17px;
}

.icon-home2,
.icon-ios,
.icon-android {
    width: 15px;
    height: 16px;
    cursor: pointer;
}

.icon-home2 {
    background-position: -28px 0;
}

.game-link:hover .icon-home2 {
    background-position: -28px -17px;
}

.icon-ios {
    background-position: -44px 0;
}

.game-link:hover .icon-ios {
    background-position: -44px -17px;
}

.icon-android {
    background-position: -60px 0;
}

.game-link:hover .icon-android {
    background-position: -60px -17px;
}

.rank-game-cover {
    display: none;
    position: relative;
    width: 194px;
    height: 82px;
    margin-left: 4px;
    overflow: hidden;
    padding: 1px;
    border: 1px solid #ccc;
    background: #fff;
}

.rank-game-cover .game-meta,
.rank-game-cover .game-meta2 {
    position: absolute;
    bottom: 1px;
    _bottom: 0;
    left: 1px;
    margin: 0;
    padding: 0;
    width: 194px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#AF000000, endcolorstr=#AF000000);
}

.rank-game-cover .game-meta {
    height: 28px;
}

.rank-game-cover .game-meta2 {
    height: 28px;
}

.rank-game-cover .game-meta .game-link {
    float: left;
    width: 97px;
    height: 13px;
    line-height: 13px;
    padding: 7px 0 8px;
    color: #aaa;
    text-align: center;
    cursor: pointer;
}

.rank-game-cover .game-meta .game-link:hover {
    color: #ff4e00;
}

.rank-game-cover .game-meta2 .game-link {
    float: left;
    width: 64px;
    border-left: 1px solid #707070;
    margin-left: -1px;
    height: 16px;
    line-height: 16px;
    padding: 6px 0 6px;
    text-align: center;
}
.tips-img3 .ips-arrow {
    top: 62px;
}
.ips-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #fff;
    border-bottom: 10px solid transparent;
    top: 57px;
    right: -19px;
}

