
body,
input,
a,
em,
i,
strong,
div,
span,
ul,
li,
h1,
h2,
h3,
h4,
img,
p,
del {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #43342c;
}

body {
  font:12px/100% '微软雅黑';
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
input {
  border: 0 none;
  outline: 0 none;
}
i {
  font-style: normal;
}
img {
  border: 0 none;
  vertical-align: middle;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear {
  *zoom: 1;
}

.one {
  position: relative;
  width: 100%;
  height: 1068px;
  background: url("./image/bjt1.jpg") no-repeat;
  background-position: center;
}
.go {
  position: absolute;
  top:30px;
  left:50%;
  width: 160px;
  height: 50px;
  margin-left: 481px;
  background-color: #ffb100;
  text-align: center;
  line-height: 50px;
}
.go a {
  display: block;
  font-size: 22px;
}
.QR {
  position: absolute;
  top: 600px;
  left: 50%;
  width: 158px;
  height: 156px;
  margin-left: -200px;
}
.up {
  position: absolute;
  top: 600px;
  left: 50%;
  width: 227px;
  height: 70px;
  margin-left: -30px;
}
.down {
  position: absolute;
  top: 686px;
  left: 50%;
  width: 227px;
  height: 70px;
  margin-left: -30px;
}
.one .one21 {
  position: absolute;
  width: 100%;
  height: 31px;
  bottom: -31px;
  z-index: 2;
}
.two {
  /*position: relative;*/
  width: 100%;
  height: 870px;
  background: url("./image/bjt2.jpg") no-repeat;
  background-position: center;
}
.two .sports {
  /*position: absolute;*/
  width: 100%;
  height: 66px;
  background: url("./image/jjms.png") no-repeat;
  background-position: center;
  padding-top: 162px;
}
.two .bigBox {
  position: relative;
  /*top: 30px;*/
  width: 1200px;
  height: 560px;
  margin: 0 auto;
}
.two .bigBox .bigBox2 {
  width: 1200px;
  height: 560px;
  cursor: move;
  overflow: auto;
  /*z-index: 2;*/
}
.two .bigBox .left1 {
  float: left;
  width: 670px;
  height: 422px;
  border: 2px solid #ffbf05;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}
.two .bigBox .left1 a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(./image/palyvideo.png) no-repeat center center rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  top: 0;
  text-indent: -9999px;
  overflow: hidden;
}
.two .bigBox .right1 {
  float: left;
  width: 526px;
  height: 426px;
  background-color: rgba(0,0,0,.5);
}
.two .bigBox .right1 p {
  width: 100%;
  height: 153px;
  font-size: 38px;
  color: #ffbf05;
  line-height: 172px;
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.two .bigBox .right1 span {
  display: block;
  width: 400px;
  height: 172px;
  font-size: 16px;
  color: #fff;
  line-height: 28px;
  margin: 0 auto;
  overflow: hidden;
}
.two .two32 {
  position: absolute;
  width: 100%;
  height: 30px;
  margin-top: 82px;;
  z-index: 2;
}
.three {
  /*position: relative;*/
  width: 100%;
  height: 870px;
  background: url("./image/bjt3.jpg") no-repeat;
  background-position: center;
}
.three .new {
  /*position: absolute;*/
  width: 100%;
  height: 66px;
  background: url("./image/qxzb.png") no-repeat;
  background-position: center;
  padding-top: 200px;
}
.three .box5 {
  position: relative;
  /*top: 30px;*/
  width: 1348px;
  height: 420px;
  margin: 0 auto;
}
 .box5 .left11 {
  float: left;
  width: 74px;
  height: 420px;
  padding-top: 150px;
}
 .box5 .left11 span {
  width: 60px;
  height: 120px;
  background-image:url("./image/zttb.png");
  background-position: -7px -436px;
  display: block;
}
 .box5 .twoBox {
  float: left;
  width: 1200px;
  height: 420px;
}
.box5 .twoBox .right32 {
  float: right;
  width: 600px;
  height: 420px;
}
.box5 .twoBox .right32 h3 {
  height: 42px;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  padding-top: 18px;
  color: #000000;
  background-color: #ffbf05;
}
 .box5 .twoBox .right33 {
  height: 320px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 30px;
  font-size: 20px;
  color: #e4e4e4;
  overflow: hidden;
}
 .box5 .right11 {
  float: right;
  width: 74px;
  height: 420px;
  padding-top: 150px;
}
.box5 .right11 span {
  width: 60px;
  height: 120px;
  background-image:url("./image/zttb.png");
  background-position: -162px -436px;
  display: block;
}
.three .three49 {
  position: absolute;
  width: 100%;
  height: 30px;
  margin-top: 184px;;
  z-index: 2;
}
.four {
  /*position: relative;*/
  width: 100%;
  height: 870px;
  background: url("./image/bjt4.jpg") no-repeat;
  background-position: center;
}
.four .weather {
  /*position: absolute;*/
  width: 100%;
  height: 66px;
  background: url("./image/xztq.png") no-repeat;
  background-position: center;
  padding-top: 150px;
}
.four .bigBox1 {
  position: relative;
  top: 30px;
  width: 1200px;
  height: 560px;
  margin: 0 auto;
}
.four .bigBox1 .left2 {
  float: left;
  width: 670px;
  height: 422px;
  border: 2px solid #ffbf05;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}
.four .bigBox1 .left2 a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(./image/palyvideo.png) no-repeat center center rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  top: 0;
  text-indent: -9999px;
  overflow: hidden;
}
.four .bigBox1 .right2 {
  float: left;
  width: 526px;
  height: 426px;
  background-color: rgba(0,0,0,.5);
}
.four .bigBox1 .right2 p {
  width: 100%;
  height: 153px;
  font-size: 38px;
  color: #ffbf05;
  line-height: 172px;
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.four .bigBox1 .right2 span {
  display: block;
  width: 400px;
  height: 172px;
  font-size: 16px;
  color: #fff;
  line-height: 28px;
  margin: 0 auto;
  overflow: hidden;
}
.four .four54 {
  position: absolute;
  width: 100%;
  height: 30px;
  margin-top: 94px;;
  z-index: 2;
}
.five {
  /*position: relative;*/
  width: 100%;
  height: 870px;
  background: url("./image/bjt5.jpg") no-repeat;
  background-position: center;
}
.five .dirve {
  /*position: absolute;*/
  width: 100%;
  height: 66px;
  background: url("./image/qxjs.png") no-repeat;
  background-position: center;
  padding-top: 150px;
}
.five .box2 {
  position: relative;
  top: 30px;
  width: 1200px;
  height: 630px;
  margin: 0 auto;
}
.five .box2 .left {
  position: absolute;
  left: 0px;
  width: 589px;
  height: 554px;
  /*margin: 0 8px;*/
  border: 2px solid #ffbf05;
  overflow: hidden;
}
.five .box2 .left a {
  display: block;
  width: 294px;
  height: 54px;
  background: url(./image/bg_btn.png) no-repeat left top;
  text-align: center;
  line-height: 54px;
  font-size: 26px;
  color: #000;
  margin: 35px auto 23px auto;
  text-decoration: none;
}
.five .box2 .left span {
  display: block;
  width: 474px;
  height: 54px;
  line-height: 28px;
  font-size: 16px;
  color: #fff;
  margin: 0 auto;
}
.five .box2 .right {
  position: absolute;
  right: 0px;
  width: 589px;
  height: 554px;
  /*margin: 0 8px;*/
  border: 2px solid #ffbf05;
  overflow: hidden;
}
.five .box2 .right a {
  display: block;
  width: 294px;
  height: 54px;
  background: url(./image/bg_btn.png) no-repeat left top;
  text-align: center;
  line-height: 54px;
  font-size: 26px;
  color: #000;
  margin: 35px auto 23px auto;
  text-decoration: none;
}
.five .box2 .right span {
  display: block;
  width: 474px;
  height: 54px;
  line-height: 28px;
  font-size: 16px;
  color: #fff;
  margin: 0 auto;
}
.five .five65 {
  position: absolute;
  width: 100%;
  height: 30px;
  margin-top: 24px;;
  z-index: 2;
}
.six {
  /*position: relative;*/
  width: 100%;
  height: 870px;
  background: url("./image/bjt6.jpg") no-repeat;
  background-position: center;
}
.six .clothes {
  /*position: absolute;*/
  width: 100%;
  height: 66px;
  background: url("./image/qxfz.png") no-repeat;
  background-position: center;
  padding-top: 200px;
}
.six .box3  {
  /*position: absolute;*/
  position: relative;
  width: 1190px;
  height: 520px;
  margin: 0 auto;
}
.six .box3 .pinkClothes {
  position: absolute;
  width: 388px;
  height: 509px;
  /*padding-top: 25px;*/
  background: url("./image/bgk.png");
  text-align: center;

}
.six .box3 img {
  padding-top: 25px;
}
.six .box3 .flower {
  font-size: 18px;
  color: #ffb100;
  padding-top: 27px;
}
.six .box3 .text1 {
  font-size: 16px;
  color: #fff;
  padding-top: 16px;
  line-height: 28px;
  padding-left: 25px;
  padding-right: 30px;
  text-align: left;
}
.six .box3 .yellowClothes {
  position: absolute;
  width: 390px;
  height:509px;
  background: url("./image/bgk.png");
  text-align: center;
  left: 400px;
}
.six .box3 .blueClothes {
  position: absolute;
  width: 390px;
  height: 509px;
  background: url("./image/bgk.png");
  text-align: center;
  right: 0px;
}
.six .six76 {
  position: absolute;
  width: 100%;
  height: 30px;
  margin-top: 84px;;
  z-index: 2;
}
.seven {
  /*position: relative;*/
  width: 100%;
  height: 870px;
  background: url("./image/bjt7.jpg") no-repeat;
  background-position: center;
}
.seven .optimize {
  /*position: absolute;*/
  width: 100%;
  height: 66px;
  background: url("./image/xtyh.png") no-repeat;
  background-position: center;
  padding-top: 190px;
}
.seven ul {
  list-style-type: none;
}

.seven .box {
  position: relative;
  width: 1200px;
  height: 497px;
  text-align: center;
  margin: auto;
  left: 50px;
}

.seven .list {
  float: left;
  overflow: hidden;
  /*background-color: #ccc;*/
  /*font-size: 32px;*/
  /*width: 295px;*/
  /*height: 295px;*/
  /*vertical-align: top*/
  /*border: 1px solid #999;*/
  /*background-color: #e0ecff;*/
}

.seven .biaoti {
  float: left;
  display: block;
  width: 109px;
  height: 497px;
  /*line-height: 300px;*/
  font-size: 32px;
  line-height: 32px;
  /*padding-right: 33px;*/
  background: url("./image/79.png");
  color: #c7c7c7;
  /*background-color: #ccc;*/
  /*-webkit-writing-mode: vertical-rl;*/
  /*padding-right: 20px;*/
}
.seven .biaoti .sfirst {
  position: absolute;
  top: 77px;
  /*text-align: center;*/
  /*color: #c7c7c7;*/
  /*line-height: 20px;*/
  padding-left: 7px;
  /*left: 45px;*/
}
.seven .biaoti .slast {
  -webkit-writing-mode: vertical-rl;
  padding-top: 150px;
  /*color: #c7c7c7;*/
}

.seven .list .xia {
  width: 552px;
  height: 497px;
  /*background-color: #fff;*/
  background: url("./image/72.png");
  display: none;
  overflow: hidden;
  font-size: 20px;
  /*padding-top:20px;*/
  text-align: center;
}
.seven .list .xia img {
  padding-top: 60px;
}
.seven .list .xia .text {
  padding-left: 45px;
  padding-right: 45px;
  line-height: 30px;
  text-align: left;
  color: #c7c7c7;
}
.seven .seven87 {
  position: absolute;
  width: 100%;
  height: 30px;
  margin-top: 117px;;
  z-index: 2;
}
.eight {
  /*position: relative;*/
  width: 100%;
  height: 870px;
  background: url("./image/bjt8.jpg") no-repeat;
  background-position: center;
}
.eight .games {
  /*position: absolute;*/
  width: 100%;
  height: 36px;
  background: url("./image/yqts.png") no-repeat;
  background-position: center;
  padding-top: 160px;
}
.eight .box19 {
  position: relative;
  /*top: 30px;*/
  width: 1348px;
  height: 600px;
  margin: 0 auto;
}
.eight .box19 .eightLeft {
  float: left;
  width: 164px;
  height: 300px;
  padding-top: 225px;
  padding-left: 60px;
}
.box19 .eightLeft span {
  width: 60px;
  height: 120px;
  background-image:url("./image/zttb.png");

  background-position: -240px -436px;
  display: block;
}
.box19 .fiveBox {
  float: left;
  width: 900px;
  height: 600px;
}
.eight .box19 .eightRight {
  float: left;
  width: 110px;
  height: 300px;
  padding-top: 225px;
  padding-left: 106px;
}
.box19 .eightRight span {
  width: 60px;
  height: 120px;
  background-image:url("./image/zttb.png");
  background-position: -85px -436px;
  display: block;
}


