/* ��ʼ������ */
body,
div,
span,
p,
a,
ul,
li,
input,
img,
i,
del,
strong,
em,
h1,
h2,
h3,
h4,
dd,
dl,
dt {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    color: #f10215;
}

img {
    border: 0 none;
    vertical-align: middle;
}

input {
    border: 0 none;
    outline: 0 none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

i {
    font-style: normal;
}

body {
    font: 12px/100% "΢���ź�";
    background-color: #fff;
}

.w {
    width: 760px;
    margin: 0 auto;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* xn_head_box****************************************/
.xn_bg {
    background-image: url("../Images/ost-bg.png");
}
.xn_head_box {
    width: 100%;
    height: 42px;
    background-repeat:  repeat-x ;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    color: #464646;
    font-family: Tahoma,simsun;
}

.xn_inner {
    position: relative;
    width: 990px;
    height: 44px;
    margin: 0 auto;
}
.xn_inner .xn_tx_logo {
    position: absolute;
    width: 220px;
    height: 40px;
    padding-right: 15px;
    z-index: 3;
    float: left;
    background-repeat:  no-repeat ;
    background-position:0 -40px ;
}

.xn_inner .xn_lq {
    width: 230px;
    height: 40px;
    position: absolute;
    left: 255px;
    top: 0;
    background:url("../Images/na-01.jpg") no-repeat;
}

#xn_nba {
    position: absolute;
    top: 0;
    left: -235px;
    display: none;
}

.xn_inner .xn_platform {
    width: 230px;
    height: 40px;
    float: right;
    font-size: 8px;
    line-height: 40px;
}

.xn_inner .xn_platform .xn_form {
    display: inline-block;
    margin-right: 28px;
}

.xn_inner .xn_platform .xn_list {
    
    /* display: inline-block; */
}

.xn_inner .xn_platform .xn_ico {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: -150px -134px;
}

/*xn_main****************************************/

.xn_main {
    /*width: 1560px;*/
    width: 100%;
    height: 2593px;
    margin-top: -3px;
    background: url("../Images/bigbg.jpg") no-repeat 180px 0;
    position: relative;
}

.xn_main .xn_slidLeft {
    position: absolute;
    float: left;
    width: 180px;
    height: 2593px;
    background-color: #232323;
    background-position: -185px 0;
    box-shadow: 2px 0 3px rgba(0,0,0,.3);
}

.xn_main_bg {
    background-image: url("../Images/spr-all.png");
}

.xn_main .xn_slidRight {
    /*position: absolute;*/
    /*left: 180px;*/
    /*top: 0;*/
    margin-left: 180px;
    float: left;
    /*width: 100%;*/
    /*width: 1560px;*/
    height: 2493px;
    /*background: url("../Images/bigbg.jpg") no-repeat;*/
}

.xn_main .xn_content {
    width: 100%;
    height: 100%;
    margin: 92px 0 0 138px;
}

.xn_main .xn_content h1 a {
    display: block;
    width: 100%;
    height: 100%;
}
.xn_main .xn_content .xn_logo {
    height: 88px;
    background-position: -403px 0px;
    background-repeat: no-repeat;
    font-weight: 700;
}

.xn_main .xn_content .xn_navBar {
    width: 760px;
    height: 59px;
    margin-top: 35px;
    font-size: 15px;
    line-height: 59px;
    background-color: #f0f2f2;
}

.xn_main .xn_content .xn_navBar ul {
    position: relative;
    height: 59px;
}
.xn_main .xn_content .xn_navBar li {
    float: left;
    width: 151px;
    height: 59px;
    text-align: center;
    border-right: 1px solid #e1e1e1;
}

.xn_main .xn_content .xn_navBar li a {
    color: #aeaeae;
}

.xn_main .xn_content .xn_navBar li i {
    color: #dee0e4;
    margin-right: 10px;
}

.xn_main .xn_content .xn_navBar li:last-child {
    border: 0 none;
}

#xn_special {
    background-color: #40c7aa;
}
#xn_special a {
    color: #fff;
}

.xn_main .xn_content .xn_navBar .tringle {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color:#40c7aa transparent transparent  transparent;
    position: absolute;
    top: 58px;
    left: 75px;
    margin-left: -5px;
}

/* xn_fstpart****************************************/

.xn_main .xn_content .xn_fstpart {
    width: 760px;
    height: 400px;
    margin-top: 50px;
}

.xn_main .xn_content .xn_fstpart .xn_direc {
    width: 760px;
    height: 239px;
}

.xn_main .xn_content .xn_fstpart .xn_left {
    float: left;
    width: 360px;
    height: 100%;
}

 h2#title1 {
    height: 60px;
    font-size: 40px;
    margin-bottom: 6px;
    line-height: 50px;
    font-weight: 700;
    color: #40c7aa;
}

.xn_main .xn_fstpart .xn_left p {
    width: 100%;
    height: 171px;
    text-indent: 2em;
    line-height: 150%;
}

.xn_main .xn_content .xn_direc a {
    float: right;
    width: 383px;
    height: 100%;
}

.xn_main .xn_fstpart .xn_timeline {
    width: 760px;
    height: 57px;
    padding-top: 40px;
    margin-top: 30px;
    background: url("../Images/timeline.png") no-repeat 50% 0;
}

.xn_main .xn_fstpart .xn_timeline li {
    float: left;
    width: 16.6%;
    text-align: center;
}

.xn_main .xn_timeline li span {
    display: block;
    line-height: 19px;
}

.xn_main .xn_timeline li i {
    display: block;
    color: #40C7AA;
    line-height: 19px;
}

/* xn_scdpart****************************************/

.xn_main .xn_content .xn_scdpart {
    width: 760px;
    height: 340px;
    margin-top: 170px;
}

.xn_main .xn_content .xn_scdpart .xn_scdright {
    width: 360px;
    height: 100%;
    float: right;

}



.xn_main .xn_scdpart .xn_scdright p {
    width: 355px;
    padding-right: 5px;
    line-height: 170%;
    font-size: 13px;
    color: #fff;
}

.xn_main .xn_scdpart a {
    float: left;
    width: 377px;
    height: 222px;
    margin-top: 30px;
    background: url("../Images/v.png") no-repeat center center;
}

/* xn_trdpart****************************************/

.xn_main .xn_trdpart .xn_trdleft {
    width: 360px;
    float: left;
}

.xn_main .xn_trdpart .xn_trdleft p {
    width: 360px;
    height: 88px;
    padding: 5px 0;
    line-height: 170%;
    font-size: 13px;
}

.xn_main .xn_trdpart  a {
    float: right;
}


/* xn_furpart****************************************/

.xn_part {
    width: 760px;
    height: 361px;
    margin-top: 40px;
    border-bottom: 1px dashed #dcdcdc;
}

.xn_main .xn_furpart {
    background: url("../Images/bg-2.jpg") no-repeat ;
}

.xn_main .xn_furpart .xn_furright {
    width: 360px;
    float: right;
}

.xn_main .xn_furpart .xn_furright p {
    width: 360px;
    height: 98px;
    padding: 5px 0;
    line-height: 170%;
    font-size: 13px;
}

.xn_main .xn_furpart .xn_furright .p1 {
    height: 54px;
}

.xn_main .xn_furpart  a {
    float: left;
}


/* xn_fivepart****************************************/

.xn_main .xn_fivepart {
    width: 760px;
    height: 446px;
    background-color: red;
    margin-top: 40px;
    background: url("../Images/bg-3.png") no-repeat right;
}

.xn_main .xn_fivepart .xn_fiveleft {
    width: 360px;
    float: left;
}

.xn_main .xn_fivepart a {
    float: right;
}

.xn_main .xn_fivepart .xn_fiveleft p {
    width: 360px;
    height: 142px;
    padding: 5px 0;
    line-height: 170%;
    font-size: 13px;
}
.p1 {
    height: 120px;
}
.p2 {
    height: 76px;
}



/* xn_footer****************************************/



.xn_footer {
    /*width: 100%;*/
    height: 114px;
    overflow: hidden;
    background-color: black;
}

.xn_footer .xn_contanier {
    width: 660px;
    margin: 30px auto;
    text-align: center;
    /*background-color: red;*/
}

.xn_footer .xn_contanier li {
    float: left;
}

.xn_footer .xn_contanier .line {
    margin: 0 5px;
    width: 1px;
    height: 10px;
    background-color: #818181;
    display: inline-block;
}
.xn_footer .xn_contanier a,.xn_footer .xn_contanier a:hover {
    color: #818181;
}

.xn_footer .xn_contanier p {
    color: #818181;
}

.last_p {
    line-height: 22px;
}



/* xn_slidLeft****************************************/


.xn_main .xn_slidLeft .xn_tianyaLogo {
    width: 180px;
    height: 140px;
    background: url("../Images/tiany.png") no-repeat;
}

.xn_main .xn_slidLeft .xn_tianyaLogo a {
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: 1px solid red;
}

.menuGroup {
    width: 100%;
    background: url("../Images/bar_01.png") no-repeat;
}

.menu1 {
    background: url("../Images/bar_02.png") no-repeat;
}

.menu2 {
    background: url("../Images/bar_03.png") no-repeat;
}
.menu3 {
    background: url("../Images/bar_04.png") no-repeat;
}
.menu4 {
    background: url("../Images/bar_05.png") no-repeat;
}

.groupTitle {
    height: 70px;
    width: 100%;
    display: block;
}
.xn_show {
    display: block;
}
.xn_ul1 {
    display: none;
}

.xn_main .xn_slidLeft .xn_sidenav li>ul li {
    width: 150px;
    height: 45px;
    line-height: 45px;
    padding-left: 30px;
    font-size: 13px;
    border-bottom: 1px solid #2d2d2d;
    background-color: #141414;
}

.xn_main .xn_slidLeft .xn_sidenav li>ul li:hover,
.xn_main .xn_slidLeft .xn_sidenav li>ul.xn_show li:first-child{
    border-bottom:3px solid #7f6f4e;
}
.xn_main .xn_slidLeft .xn_sidenav li>ul li a:hover,
.xn_main .xn_slidLeft .xn_sidenav li>ul.xn_show li:first-child a {
    color:#cf9f3c;
}

.xn_qr {
    width: 120px;
    height: 120px;
    margin: 20px auto;
}
.xn_qr img {
    width: 100%;
    height: 100%;
}

.xn_return{
    width: 102px;
    height: 33px;
    display: block;
    margin: 10px auto;
    background: url("../Images/returngw.png") no-repeat;
}

/*������Ƶ�������ֲ�*/

.login {
    width: 800px;
    position: absolute;
    border: #ebebeb solid 1px;
    height: 450px;
    left: 40%;
    right: 30%;
    background: #ffffff;
    box-shadow: 0px 0px 20px #ddd;
    z-index: 9999;
    margin-left: -256px;
    margin-top: 40px;
    display: none;
}


.login-bg {
    margin-top:40px;
    width: 100%;
    height: 90%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000000;
    opacity: 0.7;
    display: none;
}

.login span {
    position: absolute;
    font-size: 12px;
    right: -20px;
    top: -30px;
    background: #ffffff;
    border: #ebebeb solid 1px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height:40px;
    cursor: pointer;

}

.fix {
    position: fixed;
    top: 0;
}


