/* 初始化样式代码开始 */
body,
div,
span,
p,
a,
input,
img,
i,
em,
ul,
li,
strong,
h1,
h2,
h3,
h4,
del {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    /* color: #4a4a4a; */
    color: #858585;
}


a:hover {
    /* color: #31c37d; */
    /* QQ音乐字体颜色 */
}


li {
    list-style: none;
}


input {
    border: 0 none;
    outline: 0 none;
}


img {
    border: 0 none;
    vertical-align: middle;
}


h1,
h2,
h3,
h4 {
    font-weight: normal;
}


i {
    font-style: normal;
}


body {
    font: 12px/100% "微软雅黑";
    /*background-color: #31c37d;*/
    /* background-color: #f6f6f6; */
}
.bigbox{
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 447px;
    margin: 0 auto;
    padding-top: 40px;
    /* background-color:pink; */
} 
.ost_rank{
    float: right;
    width: 704px;
    height:447px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.ost_rank #rank_left,
.ost_rank #rank_center,
.ost_rank #rank_right{
    width: 213px;
    height: 422px;
    float: left;
    padding: 0 10px;
    margin: 17px 0px 8px 1px;
    /* border-left: 1px solid #ccc; */
}
.ost_rank div .col_head{
    width: 207px;
    height: 18px;
    line-height: 18px;
    /* position: relative; */
    padding: 0px 5px 2px 0px;
    border-bottom: 1px solid #ccc;
    /* background-color: yellow; */
}
.ost_rank div .col_head h2{
    font-size: 14px;
    font-weight: bold;
    float: left;
}
.ost_rank div .col_head a{
    float: right;
}
.ost_rank div .col_head i{
    float: right;
}
.ost_rank div .col_body{
    width: 212px;
    height: 376px;
    font-size: 14px;
}
.ost_rank div .col_body ul{
    width: 212px;
    /* height: 376px; */
    padding-top: 9px;
    /* background-color: pink; */
}
.ost_rank div .col_body ul li.rank-head{
    width: 212px;
    height: 27px;
    line-height: 27px;
}
.ost_rank div .col_body ul li.rank-head span.rank-order-hd{
    width: 33px;
    height: 18px;
}
.ost_rank div .col_body ul li.rank-head span.rank-name-hd{
    width: 170px;
    height: 18px;
}
.ost_rank div .col_body ul li.rank-item{
    width: 212px;
    /* height: 27px; */
}
.ost_rank div .col_body ul li div.rank-item-txt{
    width: 212px;
    height: 27px;
}
.ost_rank div .col_body ul li.rank-item div.rank-name-game span.r-gray,
.ost_rank div .col_body ul li.rank-item div.rank-name-game span.r-color,
.ost_rank div .col_body ul li.rank-item span.rank-order-color,
.ost_rank div .col_body ul li.rank-item span.rank-order-gray{
    width: 12px;
    height: 12px;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    color:#929191;
    /* float: left; */
    display: inline-block;
    border: 1px solid #929191;
    margin: 2px 15px 1px 4px;
}
/* .ost_rank div .col_body ul li.rank-item div.rank-name-game span.r-gray, */
.ost_rank div .col_body ul li.rank-item div.rank-name-game span.r-color,
.ost_rank div .col_body ul li.rank-item span.rank-order-color{
    background-color: orangered;
    border: 1px solid orangered;
    color: #fff; 
}
.ost_rank div .col_body ul li.rank-item div.rank-name-game span.r-color,
.ost_rank div .col_body ul li.rank-item div.rank-name-game span.r-gray{
    position: absolute;
    top:-2px;
    left: -4px;
}
.ost_rank div .col_body ul li.rank-item div.rank-name-game span.r-gray{
    top:-3px;
    left: -5px;
}
.ost_rank div .col_body ul li.rank-item  a{
    /* width: 78px;  */
    height: 18px;
    line-height: 18px;
    display: inline-block;
    /* background-color: aqua; */
}
.ost_rank div .col_body ul li.rank-item div.rank-name-game{
    width: 194px;
    height: 82px;
    margin-top: -28px;
    margin-left: 2px;
    position: relative;
    border: 1px solid #929191;
    margin-bottom: 8px;
}
.ost_rank div .col_body ul li.rank-item div.rank-name-game p{
    width: 194px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    position: absolute;
    bottom:0px;
    left: 0px;
    opacity: 0.8;
    background-color: black;
}
.ost_rank div .col_body ul li.rank-item div.rank-name-game p a.game-link{
    width: 60px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    /* margin-right: 10px; */
}
.ost_rank div .col_body ul li.rank-item div.rank-name-game p i.icon-home{
    /* background:  */
}
.ost_rank div .col_body ul li.rank-item div.rank-name-game p i.icon-download{

}
.ost_rank #rank_left{
    /* background-color: orange; */
}
 
.ost_rank #rank_center{
    border-left: 1px solid #ccc;
    /* background-color: green; */
}

.ost_rank #rank_right{
    border-left: 1px solid #ccc;
    /* background-color: skyblue; */
}

.bigbox {
    display: none;
}